.ontable-legend.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flexColumn.centerGap {
  align-items: center;
  gap: 10px;
}
.flexRow {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.onaddUserForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.onaddUserForm .onaddUser {
  display: flex;
  align-items: center;
  gap: 10px;
}
.onaddUserForm .onaddUser span {
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
}
.onDelBox {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.onsubtitle {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.2px;
}